<template>
  <main>
    <p class="text-h5">Add Students</p>
    <section>
      <addUser />
    </section>
    <section>
      <studentDetails />
    </section>
  </main>
</template>

<script>
import addUser from 'src/components/modules/Students/addUser.vue';
import studentDetails from 'src/components/modules/Students/studentDetails.vue';
export default {
  name: 'Student',
  components: {
    addUser,
    studentDetails,
  },
};
</script>

<style></style>
