<template>
  <main>
    <p class="text-h5">Student Expenses</p>

    <section>
      <createStudentMonthlyExpenses />
    </section>
  </main>
</template>

<script>
import createStudentMonthlyExpenses from 'src/components/modules/Students/createStudentMonthlyExpenses.vue';

export default {
  name: 'StudentExpenses',
  components: { createStudentMonthlyExpenses },
};
</script>

<style></style>
