<template>
  <main>
    <p class="text-h5">Add Teachers</p>
    <section>
      <addUser />
    </section>
    <section>
      <TeacherDetails />
    </section>
  </main>
</template>

<script>
import addUser from 'src/components/modules/Students/addUser.vue';
import TeacherDetails from 'src/components/modules/Teacher/teacherDetails.vue';

export default {
  name: 'Teacher',
  components: {
    addUser,
    TeacherDetails,
  },
};
</script>

<style></style>
