// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//$primary: #0000ba;
$primary: #213C96;

$secondary: #2196f3;
$accent: #673ab7;

$dark: #353944;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;
