<template>
  <main>
    <q-input v-model="userDetails.firstname" type="text" label="Firstname" />
    <q-input v-model="userDetails.lastname" type="text" label="Lastname" />
    <q-input
      v-model="userDetails.phoneNumber"
      type="text"
      label="Phonenumber"
    />
    <q-input v-model="userDetails.address" type="text" label="Address" />
    <q-select
      v-model="userDetails.type"
      :options="options"
      label="Type"
      dense
    />
    <div class="q-pt-md">
      <q-btn color="primary" label="Create User" @click="storeUser()" />
    </div>
  </main>
</template>

<script>
import { mapActions } from 'vuex';
const userDetailsDefault = {
  firstname: '',
  lastname: '',
  phoneNumber: '',
  address: '',
  type: 'Student',
};
export default {
  name: 'addUser',
  data() {
    return {
      userDetails: {
        ...userDetailsDefault,
      },
      options: ['Student', 'Teacher'],
    };
  },
  methods: {
    ...mapActions('user', ['postuserdetails']),
    async storeUser() {
      await this.postuserdetails(this.userDetails);
      this.userDetails = { ...this.userDetailsDefault };
    },
  },
};
</script>

<style></style>
