<template>
  <main class="q-pt-md">
    <section class="q-gutter-y-md">
      <!-- <q-input v-model="expense.months" type="date" /> -->
      <VNepaliDatePicker v-model="expense.months" placeholder="Pick Date" />

      <q-btn color="primary" label="Create Expenses" @click="addMonth()" />
    </section>

    <p class="text-h6 q-pt-xl">Monthly Expenses</p>
    <section class="row q-gutter-md">
      <q-card class="my-card" v-for="val in monthsList" :key="val.id">
        <q-card-section>
          <h6><singleMonthlyExpenses :data="val" /></h6>
        </q-card-section>
        <q-card-section>
          <q-btn
            color="primary"
            round
            icon="visibility"
            @click="$router.push(`studentexpenses/${val.id}`)"
          />
        </q-card-section>
      </q-card>
    </section>
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import VNepaliDatePicker from 'v-nepalidatepicker';
import singleMonthlyExpenses from './singleMonthlyExpenses.vue';
export default {
  name: 'createStudentMonthlyExpenses',
  components: {
    VNepaliDatePicker,
    singleMonthlyExpenses,
  },
  data() {
    return {
      expense: {
        months: '',
      },
    };
  },

  created() {
    this.getMonths();
  },
  computed: {
    ...mapState('months', ['monthsList']),
  },

  methods: {
    ...mapActions('months', ['postmonths', 'getAllmonths']),
    async addMonth() {
      await this.postmonths(this.expense.months);
    },
    async getMonths() {
      await this.getAllmonths();
    },
  },
};
</script>

<style></style>
