<template>
  <main>
    <section>
      {{ data.months }}
    </section>
  </main>
</template>

<script>
export default {
  name: 'singleMonthlyExpenses',
  props: {
    data: {
      type: Object,
      reruired: true,
    },
  },
};
</script>

<style></style>
