<template>
  <main>
    <section>
      <q-card class="my-card">
        <q-card-section>
          <div class="text-h6">Expenses</div>
        </q-card-section>
      </q-card>
    </section>
    <section>
      <studentExpenseForm />
    </section>
  </main>
</template>

<script>
import studentExpenseForm from 'src/components/modules/Students/studentExpenseForm.vue';
import { mapActions, mapState } from 'vuex';
export default {
  name: 'studentExpenses',
  components: {
    studentExpenseForm,
  },
  data() {
    return {
      expenseDate: this.$route.params.date,
    };
  },
};
</script>

<style></style>
