<template>
  <main>
    <section v-for="val in monthsList" :key="val.id">
      <div class="row">
        <p>{{ val.expenses }}</p>
      </div>
    </section>
    <!-- <section
      v-for="(val, key) in studentDetails"
      :key="val.id"
      class="row items-center"
    >
      <header class="row">
        <q-input type="text" :label="val.firstname" dense outlined />
        <q-input
          v-model="expensesHeadings.fooodCharge"
          type="text"
          label="Food Charge"
          dense
          outlined
        />
        <q-input
          v-model="expensesHeadings.stationaryCharge"
          type="text"
          label="Stationary Charge"
          dense
          outlined
        />
        <q-input
          v-model="expensesHeadings.serviceCharge"
          type="text"
          label="Service Charge"
          dense
          outlined
        />
        <q-input
          v-model="expensesHeadings.bookCharge"
          type="text"
          label="Book Charge"
          dense
          outlined
        />
        <q-input
          v-model="expensesHeadings.balance"
          type="text"
          label="Balance"
          dense
          outlined
        />
        <q-btn color="primary" icon="check" label="OK" @click="addExpenses()" />
      </header>
    </section> -->
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'studentExpenseForm',
  data() {
    return {
      expensesHeadings: {
        foodCharge: null,
        stationaryCharge: null,
        serviceCharge: null,
        bookCharge: null,
        balance: null,
        userDetails: null,
      },
      id: this.$route.params.date,
    };
  },

  created() {
    this.getUserDetails();
    this.getMonths();
  },
  computed: {
    ...mapState('user', ['userdetailsList']),
    ...mapState('months', ['monthsList']),

    studentDetails() {
      return this.userdetailsList.filter((val) => val.type === 'Student');
    },
  },
  methods: {
    ...mapActions('user', ['getAlluserdetails']),
    ...mapActions('months', ['getAllmonths']),
    async getUserDetails() {
      await this.getAlluserdetails();
    },
    async getMonths() {
      await this.getAllmonths();
    },
  },
};
</script>

<style></style>
