<template>
  <main class="q-pt-xl">
    <p class="text-h5">Students Details</p>
    <section class="row q-gutter-sm q-py-sm">
      <div v-for="val in studentsData" :key="val.id" class="text-center">
        <q-card class="my-card text-center" style="min-width: 300px">
          <q-icon name="account_circle" class="" size="100px" />
          <q-card-section class="q-gutter-x-sm text-center">
            <div class="text-h6">{{ val.firstname }} {{ val.lastname }}</div>
          </q-card-section>

          <q-card-section>
            {{ val.phoneNumber }}
          </q-card-section>
          <q-card-section>
            {{ val.address }}
          </q-card-section>
          <q-card-section>
            <p class="text-subtitle2">
              {{ val.joinedDate }}
            </p>
          </q-card-section>
          <q-card-section class="q-gutter-x-sm">
            <q-btn
              color="primary"
              round
              icon="edit"
              @click="userDetailsUpdateVal(val, val.id)"
            />
            <q-btn
              color="primary"
              round
              icon="delete"
              @click="deleteUser(val.id)"
            />
          </q-card-section>
        </q-card>
        <q-dialog v-model="prompt">
          <q-card>
            <q-card-section class="row items-center">
              <span class="q-ml-sm">
                <q-input
                  v-model="userDetailsUpdate.firstname"
                  type="text"
                  label="Firstname"
                />
                <q-input
                  v-model="userDetailsUpdate.lastname"
                  type="text"
                  label="Lastname"
                />
                <q-input
                  v-model="userDetailsUpdate.phoneNumber"
                  type="text"
                  label="Phonenumber"
                />
                <q-input
                  v-model="userDetailsUpdate.address"
                  type="text"
                  label="Address"
                />
              </span>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn flat label="Cancel" color="primary" v-close-popup />
              <q-btn
                flat
                label="Update"
                color="primary"
                @click="updateUser()"
                v-close-popup
              />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </section>
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'studentDetails',
  data() {
    return {
      prompt: false,
      userDetailsUpdate: {
        userID: '',
        firstname: '',
        lastname: '',
        phoneNumber: '',
        address: '',
      },
    };
  },
  created() {
    this.getStudentDetails();
  },
  computed: {
    ...mapState('user', ['userdetailsList']),
    studentsData() {
      return this.userdetailsList.filter((val) => val.type === 'Student');
    },
  },
  methods: {
    ...mapActions('user', [
      'getAlluserdetails',
      'deleteuserdetails',
      'putuserdetails',
    ]),
    async getStudentDetails() {
      await this.getAlluserdetails();
    },

    async deleteUser(userID) {
      await this.deleteuserdetails(userID);
    },
    userDetailsUpdateVal(val, key) {
      this.prompt = true;
      this.userDetailsUpdate.userID = key;
      this.userDetailsUpdate.firstname = val.firstname;
      this.userDetailsUpdate.lastname = val.lastname;
      this.userDetailsUpdate.address = val.address;
      this.userDetailsUpdate.phoneNumber = val.phoneNumber;
    },
    async updateUser() {
      await this.putuserdetails({
        id: this.userDetailsUpdate.userID,
        change: this.userDetailsUpdate,
      });
    },
  },
};
</script>

<style></style>
